Source: utox
Section: net
Priority: optional
Maintainer: Kill Your TV <killyourtv@i2pmail.org>
Build-Depends: debhelper (>= 9),
 dpkg-dev (>= 1.16.1~),
 libdbus-1-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libopenal-dev,
 libtoxav-dev (>= 0.0.0+20140928.1),
 libtoxcore-dev (>= 0.0.0+20140928.1),
 libtoxdns-dev (>= 0.0.0+20140928.1),
 libtoxencryptsave-dev (>= 0.0.0+20140928.1),
 libv4l-dev,
 libxext-dev,
 libxrender-dev
Standards-Version: 3.9.5
Homepage: https://github.com/notsecure/uTox
Vcs-Git: git://killyourtv.i2p/git/utox.git
Vcs-Browser: http://killyourtv.i2p/gitweb/?p=utox.git;a=shortlog

Package: utox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight gui Tox client
 This client is at the early stages of development but it currently supports
 some of the most important features, such as file transfers, A/V, group chats,
 and DNS Discovery
