#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@  --parallel

override_dh_auto_build:
	$(MAKE) PREFIX=/usr DESTDIR=$(CURDIR)/debian/utox
	dh_auto_build

override_dh_auto_install:
	$(MAKE) install PREFIX=/usr DESTDIR=$(CURDIR)/debian/utox

override_dh_install:
	dh_install --fail-missing
	cp debian/apparmor/usr.bin.utox debian/utox/etc/apparmor.d
	dh_apparmor --profile=usr.bin.utox -putox

override_dh_strip:
	dh_strip --dbg-package=utox-dbg
